*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/release/
PushSDK/build/
app/release/app-release.apk
app/release/output.json
app/src/androidTest/java/android/kindergartens/android/
app/src/test/java/android/kindergartens/android/
